.buttonVel{
    color:gray;
    font-size: 1rem;
    font-weight: bold;
    padding: 3px;
    background-color: transparent;
    border: none;
    margin: 5px;
}
.buttonPress{
    background-color: #bbb;

    border-radius: 3px;

}
